html, body {
    -webkit-user-select: none; /* Для Chrome, Safari */
    -moz-user-select: none; /* Для Firefox */
    -ms-user-select: none; /* Для IE/Edge */
    user-select: none; /* Стандартное свойство */
}

.sortable-ghost {
    background-color: yellow;
    border: 1px dashed #ccc;
    margin: 5px 0;
}